NODE_ENV=production
PORT=3000
# В production лучше указать точный origin фронта, а не '*'
CORS_ORIGIN=http://localhost:4200
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/crmgenerator?schema=public

